@{ 
    Layout = "_Layout";
}

<section id="actionCall">
    <h1>Explore our world your way</h1>
    <a href="/tours.htm" title="Find your tour!"><h2>Find your tour</h2></a>
</section>

<div id="contentWrapper">
    <section id="mainContent">
        <article id="mainArticle">
            <h1>Tour Spotlight</h1>
            <p class="spotlight">This month's spotlight package is Cycle California. Whether you are looking for some serious downhill thrills to a relaxing ride along the coast, you'll find something to love in Cycle California.<br /> <span class="accent"><a href="/tours_cycle.htm" title="Cycle California">tour details</a></span></p>
            <h1>Explorer's Podcast</h1>
            <video controls poster="/images/podcast_poster.jpg" width="512" height="288" preload="none">
                <source src="_video/podcast_teaser.mp4" type="video/mp4" />
                <source src="_video/podcast_teaser.webm" type="video/webm" />
                <source src="_video/podcast_teaser.theora.ogv" type="video/ogg" />
            </video>
            <p class="videoText">Join us each month as we publish a new Explore California video podcast, with featured tours, customer photos, and some exctiing new features!<span class="accent"><a href="explorers/video.htm" title="Video Podcast">Watch the full video</a></span></p>
        </article>
    </section>
    <aside id="secondaryContent">
        <div id="specials" class="callOut">
            <h1>Monthly Specials</h1>
            <h2 class="top"><img src="/images/calm_bug.gif" alt="California Calm" width="75" height="75">California Calm</h2>
            <p>
                Day Spa Package <br>
                <a href="/tours/tour_detail_cycle.htm">$250</a>
            </p>
            <h2><img src="/images/desert_bug.gif" alt="From desert to sea" width="75" height="75">From Desert to Sea</h2>
            <p>
                2 Day Salton Sea <br>
                <a href="/tours/tour_detail_cycle.htm">$350</a>
            </p>
            <h2><img src="/images/backpack_bug.gif" alt="Backpack Cali" width="75" height="41">Backpack Cali</h2>
            <p>
                Big Sur Retreat <br>
                <a href="/tours/tour_detail_cycle.htm">$620</a>
            </p>
            <h2><img src="/images/taste_bug.gif" alt="Taste of California" width="75" height="75">Taste of California</h2>
            <p>
                Tapas &amp; Groves <br>
                <a href="/tours/tour_detail_taste.htm">$150</a>
            </p>
        </div>
        <div id="trivia" class="callOut">
            <h1>Did You Know?</h1>
            <p>California produces over 17 million gallons of wine each year!</p>
        </div>
    </aside>
</div>
