@model IEnumerable<ExploreCalifornia.Models.Post>
@{ 
    Layout = "_SimpleLayout";
}

<h1>Explorer's Blog</h1>

<p>
    Below are a few of the latest posts from some of our explorers.
</p>

<div class="blog-posts">
    @foreach (var post in Model)
    {
        @Html.Partial("_Post", post)
    }
</div>