@{ 
    Layout = "_Layout";
}

<section id="actionCall">
    <h1>Explore California Blog</h1>
</section>

<div id="contentWrapper">

    <section id="mainContent">

        <article id="mainArticle" class="blog-post">

            <h1>@ViewBag.Title</h1>

            <p class="content">
                @ViewBag.Body
            </p>

        </article>

    </section>

    <aside id="secondaryContent">
        <div id="specials" class="callOut">
            <h1>Monthly Specials</h1>
            <h2 class="top"><img src="/images/calm_bug.gif" alt="California Calm" width="75" height="75">California Calm</h2>
            <p>
                Day Spa Package <br>
                <a href="/tours/tour_detail_cycle.htm">$250</a>
            </p>
            <h2><img src="/images/desert_bug.gif" alt="From desert to sea" width="75" height="75">From Desert to Sea</h2>
            <p>
                2 Day Salton Sea <br>
                <a href="/tours/tour_detail_cycle.htm">$350</a>
            </p>
            <h2><img src="/images/backpack_bug.gif" alt="Backpack Cali" width="75" height="41">Backpack Cali</h2>
            <p>
                Big Sur Retreat <br>
                <a href="/tours/tour_detail_cycle.htm">$620</a>
            </p>
            <h2><img src="/images/taste_bug.gif" alt="Taste of California" width="75" height="75">Taste of California</h2>
            <p>
                Tapas &amp; Groves <br>
                <a href="/tours/tour_detail_taste.htm">$150</a>
            </p>
        </div>
        <div id="trivia" class="callOut">
            <h1>Did You Know?</h1>
            <p>California produces over 17 million gallons of wine each year!</p>
        </div>
    </aside>

</div>
